.wrapper {
  visibility: hidden;
}

.wrapper.show {
  visibility: visible;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 100ms;
}

.burgerWrapper {
  width: max-content;
  max-width: 1440px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  right: 49px;
  top: 32px;
}

.harmburger {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #3e3e46;
  background: #0e0f0f;
  box-shadow: 8.08px 9.73px 36.81px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
  transition: gap 300ms, transform 150ms linear;
}

.burgerWrapper.enter {
  animation: enter 300ms forwards cubic-bezier(0, 1.67, 1, 0.87);
  /* visibility: visible; */
}

.burgerWrapper.leave {
  animation: leave 100ms forwards linear;
  /* visibility: hidden; */
}

@keyframes enter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes leave {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.55);
    visibility: hidden;
  }
}

.cross {
  width: 24px;
  height: 1px;
  background: rgba(242, 153, 74, 1);
  transition: transform 300ms;
}

.harmburger.set {
  gap: 0;
}

.harmburger.set .cross:first-child {
  transform: rotate(-45deg);
}
.harmburger.set .cross:last-child {
  transform: rotate(45deg);
}

.contentWrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: #0e0f0f;
  /* overflow: hidden; */
}

.content {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 106px;
  padding-top: 82px;
  padding-right: 0px;
  padding-bottom: unset;
  overflow: auto;
}

.contentWrapper.open {
  animation: content-open 1s forwards cubic-bezier(0.8, 0.18, 0.41, 1.03);
}

.contentWrapper.close {
  animation: content-close 1s forwards cubic-bezier(0.8, 0.18, 0.41, 1.03);
}

@keyframes content-open {
  from {
    transform: translateY(-100%);
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
  }
  to {
    transform: translateY(0);
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
  }
}

@keyframes content-close {
  from {
    transform: translateY(0);
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
  }
  to {
    transform: translateY(-100%);
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
  }
}

.menu {
  color: #707479;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 51.972px; /* 324.825% */
  letter-spacing: 7px;
  text-transform: uppercase;
  padding-bottom: 17px;
  border-bottom: 1px solid #3e4044;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 65px;
  padding-right: 65px;
  margin-bottom: 68px;
}

.nav {
  color: #d1d1d1;
  font-family: Monument Extended;
  font-size: 73.494px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 7.349px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.navItem {
  cursor: pointer;
}

.menuItem.enter,
.link.enter,
.navItem.enter,
.resumeLink.enter {
  color: rgba(244, 130, 30, 1);
}

.socialLinks {
  color: #d1d1d1;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: 0.16px;
  /*  */
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 34px;
}

.connectText {
  color: #7d8387;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.16px;
  margin-bottom: 23px;
}

.resumeLink {
  color: #d9d9d9;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.175px; /* 138.593% */
  letter-spacing: 0.08px;
  /* border-bottom: 1px solid #d9d9d9; */
  line-height: 14px;
  text-decoration: underline;
  /*  */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5.32px;
}

.btnContainer {
  width: max-content;
}

.btn {
  width: 247px;
  height: 73px;
  flex-shrink: 0;
  border-radius: 60.833px;
  border: 1px solid #3e3e46;
  background: #0e0f0f;
}

.btnText {
  color: #d1d1d1;
  font-family: Poppins;
  font-size: 14.558px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.264px; /* 146.071% */
  letter-spacing: 0.218px;
  text-transform: uppercase;
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btnText img {
  transition: transform 450ms;
}

.btnText.enter img {
  transform: rotate(45deg) translate(4px, -4px);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.right * {
  width: max-content;
}

@media screen and (max-width: 1440px) {
  .burgerWrapper {
    right: 24px;
  }

  .contentWrapper {
    padding: 0 24px;
  }

  .content {
    padding-left: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    padding-left: 28px;
  }

  .center {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* flex-direction: column; */
    padding-top: 49px;
    padding-right: 0;
    gap: 44px;
    margin-bottom: 43px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: flex-start;
    align-items: flex-start;
    color: #d1d1d1;
    font-family: Monument Extended;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .burgerWrapper {
    right: 16px;
    top: 23px;
  }

  .harmburger {
    height: 56px;
    width: 56px;
  }

  .menu {
    padding-bottom: 0;
  }

  .content {
    padding-bottom: 55px;
  }

  .center {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 49px;
    padding-right: 0;
    gap: 44px;
    margin-bottom: 43px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: flex-start;
    align-items: flex-start;
    color: #d1d1d1;
    font-family: Monument Extended;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 540px) {
  .content {
    padding-left: 0;
    padding-right: 2px;
  }
  .btnContainer {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}

/* scroll width */
.content::-webkit-scrollbar {
  width: inherit;
  height: inherit;
  width: 8px;
  height: 4px;
  border-radius: 0;
}

/* Track */
.content::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0;
}

.content::-webkit-scrollbar-corner {
  background: transparent;
  border-radius: 0;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
  background: rgba(112, 116, 121, 0.05);
}
