.container {
  margin-bottom: 98px;
  border-top: 1px solid#171718;
  /* border-bottom: 1px solid #171718; */
  padding-top: 74px;
}

.stages {
  max-width: 1214px;
  margin: 0 auto;
}

.stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
  gap: 48px;
}

.topic {
  color: #fff;
  font-family: Krona One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.topic > span:last-child {
  position: relative;
}

.topic > span:last-child {
  position: relative;
}

.topic > span:last-child::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #14d3b2;
  border-radius: 50%;
  right: -16px;
  bottom: 16px;
}

.text ul li,
.text {
  width: 100%;
  max-width: 846px;
  color: #7d8387;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
}

.text span {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
  color: #fff;
}

.stages img {
  width: 100%;
  height: auto;
}

.link {
  color: #7d8387;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 221.429% */
  letter-spacing: 1px;
  /* align-self: flex-end; */
  float: right;
}

.sites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.site {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 42px;
  padding-right: 47px;
  border-radius: 9px;
  border: 1px solid rgba(88, 94, 125, 0.14);
  border-left: 9px solid #14d3b2;
  background: linear-gradient(180deg, #202124 0%, rgba(32, 33, 36, 0) 100%);
}

.site .text {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 172.222% */
  letter-spacing: 1px;
}

.site img {
  width: 19px;
  height: 19px;
}

@media screen and (max-width: 1440px) {
  .stages {
    padding: 0 32px;
  }

  .right {
    max-width: 746px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding-top: 54px;
  }
}

@media screen and (max-width: 1024px) {
  .right {
    max-width: 640px;
  }
}

@media screen and (max-width: 900px) {
  .right {
    max-width: 100%;
  }

  .stage {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 44px;
    margin-bottom: 70px;
  }

  .stages {
    padding: 0 16px;
  }

  .topic {
    font-size: 14px;
    line-height: 24px;
  }

  .topic > span:last-child::after {
    bottom: 8px;
  }

  .text,
  .text ul li,
  .text span {
    font-size: 12px;
    line-height: 24px;
  }

  .site {
    height: 36px;
  }

  .site .text {
    font-size: 12px;
  }
}
