.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 60;
  left: 0;
  top: 0;
  background: #0d0d0e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  visibility: visible;
  transition: all 850ms;
}

.container.inActive {
  animation: close 0.65s forwards cubic-bezier(0.8, 0.18, 0.41, 1.03);
}

@keyframes close {
  from {
    visibility: visible;
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

.title,
.title span {
  color: #838995;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.16px;
}
