.container {
  height: calc(678px - 68px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 154px;
  position: relative;
}

.elipse {
  width: 1079px;
  height: 1079px;
  flex: 0 0 auto;
  border-radius: 50%;
  background: rgb(244, 130, 30, 0.6);
  filter: blur(80px);
  transform: translateY(-30%);
}

.imageContainer,
.imagePlaceholder,
.image {
  width: 390.512px;
  height: 513px;
  position: absolute;
}

.imagePlaceholder,
.imageContainer {
  top: 7px;
  transform: translateX(-64px) !important;
}

.imagePlaceholder {
  z-index: 30;
}

.image {
  height: auto;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  transition: all 100ms linear;
}

.mobile {
  display: none;
}

.connectContainer {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, 82%);
  position: absolute;
  right: 0;
}

.btn {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  flex-shrink: 0;
  /* background: #3b3d3f; */
  background: rgba(55, 58, 60, 0.35);
  box-shadow: 4.029px 4.852px 18.355px 0px rgba(0, 0, 0, 0.08);
}

.btnContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 11px;
  color: #d1d1d1;
  font-family: Poppins;
  font-size: 13.518px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.746px; /* 146.071% */
  letter-spacing: 0.203px;
  text-transform: uppercase;
  margin-bottom: -20px;
}

.btnOverlay {
  background: #f4821e;
}

.connectIcon {
  transition: transform 650ms;
}

.mobileIcon {
  display: none;
}

.connectIcon img {
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  transform-origin: bottom;
}

.connectIcon.top {
  transform: rotate(-45deg);
}
.connectIcon.top-right {
  transform: rotate(0);
}
.connectIcon.right {
  transform: rotate(45deg);
}
.connectIcon.bottom-right {
  transform: rotate(90deg);
}
.connectIcon.bottom {
  transform: rotate(135deg);
}
.connectIcon.bottom-left {
  transform: rotate(180deg);
}
.connectIcon.left {
  transform: rotate(225deg);
}
.connectIcon.top-left {
  transform: rotate(270deg);
}

.textContainer {
  position: relative;
  z-index: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mainText {
  width: max-content;
  color: #fff;
  font-family: Monument Extended Ultrabold;
  font-size: 101px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}

.mainText img {
  width: 10.5vw;
  height: auto;
}

.zero {
  width: 160.496px;
  height: 74.898px;
  border-radius: 40.754px;
  border: 25.471px solid #fff;
  background: #fff;
  display: inline-block;
}

._e {
  mix-blend-mode: lighten !important;
}

.animationContainer {
  overflow: hidden;
  position: relative;
  z-index: 25;
}

.animationContainer:first-child {
  margin-bottom: -16px;
}

.animationContainer:last-child {
  margin-top: -16px;
}

.text {
  width: 100%;
  max-width: 1440px;
  /*  */
  color: #d1d1d1;
  font-family: Poppins;
  font-size: 14.56px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.748px; /* 156.237% */
  letter-spacing: 0.51px;
  text-transform: uppercase;
}

.right {
  text-align: right;
  font-size: 14px;
  line-height: 26.93px; /* 192.359% */
  letter-spacing: 0.49px;
}

.iconContainer {
  width: 100%;
  margin-bottom: 43.38px;
}

@media screen and (min-width: 1440px) {
  .mainText img {
    width: 160.5px;
    height: auto;
  }
}

@media screen and (max-width: calc(1440px + 24px)) {
  .elipse {
    transform: translateY(-50%);
    position: absolute;
  }
}

@media screen and (max-width: 1200px) {
  .animationContainer:first-child {
    margin-bottom: -8px;
  }

  .animationContainer:last-child {
    margin-top: -8px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    padding: 0 24px;
    padding-top: 95px;
    justify-content: flex-start;
  }

  .elipse {
    width: 400px;
    height: 400px;
    transform: translateY(-150%);
    position: absolute;
  }

  .animationContainer:first-child {
    margin-bottom: -0;
  }

  .animationContainer:last-child {
    margin-top: -0;
  }

  .right {
    width: 100%;
    text-align: left;
  }

  .break {
    display: none;
  }

  .imageContainer,
  .image {
    height: auto;
    width: 100%;
    max-width: 436px;
    position: static;
  }

  .imageContainer {
    transform: translateX(-16px) !important;
  }

  .imagePlaceholder {
    height: auto;
    width: 100%;
    max-width: 436px;
    bottom: 280px;
    top: unset;
    display: flex;
    justify-content: flex-end;
    transform: translateX(0) !important;
    padding-right: 16px;
  }

  .connectContainer {
    transform: translate(0);
    position: static;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .textContainer .text:nth-child(2) {
    margin-bottom: 14px;
  }

  .mainText {
    width: 100%;
    white-space: unset;
    text-align: left;
    margin-bottom: 12px;
    font-size: 57.36px !important;
    font-weight: 800;
    line-height: 67.513px;
    letter-spacing: 0.512px;
  }

  .mainText img {
    width: 88px;
  }

  .text {
    padding: 0;
  }

  .btn {
    width: 105px;
    height: 105px;
    background: #f4821e;
  }

  .connectIcon img {
    display: none;
  }

  .mobileIcon {
    display: inline-block !important;
  }

  .btnContent {
    font-size: 11.014px;
    font-weight: 700;
    line-height: 14.499px; /* 131.637% */
    letter-spacing: 0.165px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mainText {
    font-size: 48px !important;
    line-height: 57.513px;
  }

  .mainText img {
    width: 72px;
  }
}

@media screen and (max-width: 480px) {
  .imagePlaceholder {
    bottom: 240px;
    padding-right: 24px;
  }
}
