.container {
  width: 100%;
  /* margin-bottom: 176px; */
  padding-bottom: 206px;
}

.title {
  color: #707479;
  font-family: Poppins;
  font-size: 14.549px;
  font-style: normal;
  font-weight: 700;
  line-height: 51.972px; /* 357.227% */
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 49px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

@media screen and (max-width: 1024px) {
  /* .title {
    text-align: center;
  } */

  .wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 68px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-bottom: 119px;
  }
}
