.container {
  width: 100%;
  margin-bottom: 199px;
  padding-top: 131px;
}

.wrapper {
  width: 100%;
  max-width: 1377px;
  margin: 0 auto;
  padding-bottom: 229px;
}

.title {
  color: #707479;
  font-family: Poppins;
  font-size: 14.549px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 51.972px; 357.227% */
  letter-spacing: 7px;
  text-transform: uppercase;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 32px 0;
}

.mainText {
  color: #d1d1d1;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 152.778% */
  letter-spacing: 0.54px;
  width: max-content;
}

.mainText.mobile {
  display: none;
}

.text {
  color: #707479;
  font-family: Poppins;
  font-size: 14.549px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.972px; /* 357.227% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.displayContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 93px;

  border-top: 1px solid #222229;
  border-bottom: 1px solid #222229;
  border: 4px solid red;
}

.imageWrapper {
  width: 470px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper img {
  width: 100%;
  height: auto;
}

.aboutContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 202px;
}

.aboutContainer .aboutWrapper:last-child {
  margin-bottom: 148px;
}

.aboutWrapper {
  width: 100%;
  /* flex-shrink: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 637px;
  /* max-width: 640px; */
}

.content .title {
  color: #707479;
  font-family: Poppins;
  font-size: 14.549px;
  font-style: normal;
  font-weight: 700;
  line-height: 51.972px;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.accent {
  color: #f4821e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 183.333% */
  letter-spacing: 0.24px;
}

.text2 {
  color: #d1d1d1;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 183.333% */
  letter-spacing: 0.36px;
}

.tracker {
  height: 100vh;
  width: 16px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  justify-content: center;
}

.track {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(242, 153, 74, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerTrack {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 300ms;
}

.track.active {
  border: 2px solid #f4821e;
  background: transparent;
}

.track.active .innerTrack {
  background: #f4821e;
  opacity: 1;
}

.resumeLinkContainer {
  width: max-content;
}

.resumeLink {
  color: #d1d1d1;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 343.75% */
  letter-spacing: 0.24px;
  text-decoration-line: underline;
  /*  */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5.32px;
  cursor: pointer;
  width: max-content;
  align-self: flex-start;
}

.resumeLink.enter {
  color: #f4821e;
}

@media screen and (max-width: calc(1440px + 24px)) {
  .container {
    padding: 0 48px;
    padding-top: 96px;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-bottom: 148px;
  }

  .displayContainer {
    gap: 48px;
  }

  .mainText {
    font-size: 28px;
    line-height: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding-bottom: 120px;
  }

  .imageWrapper {
    width: 380px;
  }

  .displayContainer {
    gap: 24px;
  }

  .mainText {
    font-size: 24px;
    line-height: 36px; /* 150% */
    letter-spacing: 0.36px;
  }

  .text {
    color: #707479;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 39.283px; /* 327.36% */
    letter-spacing: 0.756px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 24px;
    padding-top: 40px;
    margin-bottom: 109px;
  }

  .wrapper {
    padding-bottom: 56px;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding-top: 0;
  }

  .displayContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 46px;
  }

  .imageWrapper {
    height: auto;
    padding: 0 48px;
  }

  .imageWrapper img {
    width: 100%;
  }

  .tracker,
  .offset {
    display: none;
  }

  .aboutContainer {
    width: 100%;
    gap: 42px;
  }

  .aboutWrapper {
    min-height: auto;
  }

  .text2 {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 580px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .mainText {
    font-size: 20px;
    display: none;
  }

  .mainText.mobile {
    display: block;
  }
}
