.wrapper {
  margin-bottom: 280px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  color: #fff;
  font-family: Krona One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 287.5% */
}

.description {
  color: #7d8387;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.98px;
  /*  */
  margin-bottom: 59px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 108px;
  position: relative;
}

.imageContainer img,
.imageContainer video {
  width: 100%;
  max-width: 554px;
  height: auto;
}

.animation {
  position: absolute;
  top: 141px;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    padding: 0 32px;
    margin-bottom: 240px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    margin-bottom: 208px;
  }

  .imageContainer {
    gap: 88px;
  }

  .imageContainer img,
  .imageContainer video {
    max-width: 460px;
  }

  .animation {
    top: 112px;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
    margin-bottom: 180px;
  }

  .imageContainer {
    gap: 64px;
  }

  .imageContainer img,
  .imageContainer video {
    max-width: 380px;
  }

  .animation {
    top: 96px;
  }
}

@media screen and (max-width: 900px) {
  .imageContainer img,
  .imageContainer video {
    max-width: 320px;
  }

  .animation {
    top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 16px;
    margin-bottom: 87px;
  }

  .imageContainer img,
  .imageContainer video {
    display: none;
    max-width: 100%;
  }

  .animation {
    display: block !important;
    position: static;
  }
}
