.container {
  margin-bottom: 57px;
}

.heading {
  width: 100%;
  height: auto;
}

.stages {
  max-width: 1202px;
  margin: 0 auto;
  padding-bottom: 0;
}

.stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
}

.topic {
  width: max-content;
  color: #fff;
  font-family: Krona One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.topic > span:last-child {
  position: relative;
}

.topic > span:last-child::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #14d3b2;
  border-radius: 50%;
  right: -16px;
  bottom: 16px;
}

.text ul li,
.text {
  width: 100%;
  max-width: 846px;
  color: #7d8387;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
}

.text span {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
  color: #fff;
}

.prototype1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
  gap: 45px;
}

.prototype1 img {
  width: 100%;
  max-width: 731px;
  height: auto;
}

.prototype1 .text {
  max-width: 410.011px;
  transform: rotate(0.011deg);
}

.prototype2 {
  margin-bottom: 111px;
}

.prototype2 .image {
  width: 100%;
  height: 672px;
  background: #fff;
  margin: 0 auto;
}

.prototype2 .left {
  margin-bottom: 40px;
}

@media screen and (max-width: 1440px) {
  .stages {
    padding: 0 32px;
  }

  .text {
    max-width: 746px;
  }
}

@media screen and (max-width: 1200px) {
  .prototype1 img {
    max-width: 531px;
  }
}

@media screen and (max-width: 1024px) {
  .prototype1,
  .prototype2 {
    flex-direction: column;
  }

  .prototype1 .text {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .stages {
    padding: 0 16px;
  }

  .text {
    max-width: 100%;
  }

  .stage {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .topic {
    font-size: 14px;
    line-height: 24px;
  }

  .topic > span:last-child::after {
    bottom: 4px;
  }

  .text,
  .text span {
    font-size: 12px;
    line-height: 24px;
  }

  .prototype2 .image {
    height: 274px;
  }
}
