.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  margin-bottom: 103px;
  padding: 0 16px;
}

.label {
  width: 100%;
  max-width: 393px;
  height: auto;
  object-fit: contain;
}

.title {
  color: #fff;
  font-family: Krona One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-bottom: 24px;
}

.description,
.description span {
  color: #7d8387;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 193.75% */
  letter-spacing: 1px;
  margin-bottom: 66px;
}

.description span {
  color: #fff;
}

.flow {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 64px;
  }

  .label {
    max-width: 220px;
  }

  .title {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .description {
    margin-bottom: 34px;
  }
  .description,
  .description span {
    font-size: 12px;
  }
}
