.container {
  border-top: 1px solid #171718;
  border-bottom: 1px solid #171718;
  margin-bottom: 61px;
  padding-top: 32px;
  padding-bottom: 24px;
}

.container > img {
  width: 100%;
  height: auto;
}
