.container {
  margin-bottom: 84px;
  position: relative;
  z-index: 2;
}

.heading {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 86px;
}

.stages {
  max-width: 1205px;
  margin: 0 auto;
}

.stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
  gap: 48px;
}

.topic {
  color: #fff;
  font-family: Krona One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.topic > span:last-child {
  position: relative;
}

.topic > span:last-child::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #14d3b2;
  border-radius: 50%;
  right: -16px;
  bottom: 16px;
}

.text {
  max-width: 846px;
}

.text ul li,
.text {
  width: 100%;
  color: #7d8387;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
}

.text span {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
  color: #fff;
}

.title {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
}

.link {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
  text-decoration-line: underline;
}

.textBox {
  width: 100%;
  max-width: 846px;
  min-height: 254px;
  flex-shrink: 0;
  border-radius: 18px;
  border: 1px solid #585e7d;
  background: linear-gradient(180deg, #202124 0%, rgba(32, 33, 36, 0) 100%);
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.textBox .text {
  max-width: 705px;
}

.processMap {
  width: 100%;
  max-width: 846px;
  height: auto;
}

.processMap img {
  width: 100%;
  height: auto;
}

.stage4 {
  align-items: space-between;
  margin-top: -20em;
}

.stage4 .left img {
  width: 100%;
  max-width: 109px;
  height: auto;
}

.stage4 .right {
  width: 100%;
  max-width: 846px;
  margin-top: 18em;
}

.right .text {
  max-width: 100%;
}

.right ul {
  padding: 0 20px;
}

.designImages {
  margin-top: 41px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  gap: 34px;
}

.designImages img:first-child {
  width: 100%;
  max-width: 453px;
  height: auto;
}

.designImages img:last-child {
  width: 100%;
  max-width: 398px;
  height: auto;
}

@media screen and (max-width: 1440px) {
  .stages {
    padding: 0 32px;
  }

  .processMap,
  .textBox,
  .text,
  .stage4 .right {
    max-width: 746px;
  }
}

@media screen and (max-width: 1200px) {
  .text span,
  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .processMap,
  .textBox,
  .text,
  .stage4 .right {
    max-width: 640px;
  }
}

@media screen and (max-width: 900px) {
  .stage {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .processImage {
    display: none;
  }

  .processMap,
  .textBox,
  .text,
  .stage4 .right {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .stages {
    padding: 0 16px;
    margin-bottom: 43px;
  }

  .topic {
    color: #fff;
    font-family: Krona One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .textBox {
    min-height: 194px;
  }

  .title {
    font-size: 13px;
  }

  .text span,
  .text ul li,
  .text {
    font-size: 12px;
    line-height: 24px;
  }

  .designImages {
    flex-direction: column;
  }

  .designImages img:first-child {
    max-width: 100%;
  }

  .designImages img:last-child {
    max-width: 100%;
  }

  .image {
    margin-bottom: 40px;
  }

  .topic > span:last-child::after {
    bottom: 8px;
  }
}
