.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 32px;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 52px;
  padding-right: 4px;
}

.iconContainer {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background: #353739;
  cursor: pointer;
  transition: all 150ms linear;
  box-shadow: 6.651px 7.256px 13.907px 0px rgba(0, 0, 0, 0.15);
}

.iconContainer.isPage {
  border-radius: 86.091px;
  border: 1.415px solid #222229;
  opacity: 0.6;
  background: #0e0f0f;
  box-shadow: 6.956px 8.377px 31.69px 0px rgba(0, 0, 0, 0.08);
}

.iconContainer img {
  transition: transform 150ms cubic-bezier(0, 1.67, 1, 0.87);
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time {
  color: #d1d1d1;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: 0.16px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px 36px;
}

.letsConnect {
  color: #7d8387;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.16px;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
}

.link {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 175% */
  letter-spacing: 0.16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 131px;
  }

  .top {
    display: none;
  }

  .bottom {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .wrapper {
    flex-direction: column;
  }

  .letsConnect {
    margin-bottom: 10px;
  }
}
