.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: rgba(242, 153, 74, 0.17);
  margin-bottom: 158px;
}

.content {
  width: 100%;
  max-width: 1080px;
  border-radius: 14px;
  border: 1px solid #f4821e;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
  padding: 23px 18px;
}

.text {
  flex: 1;
  color: #f4821e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.98px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 71px;
  }
}
