/* Define @font-face for regular font */
@font-face {
  font-family: "Monument Extended";
  src: url("./fonts/monumentextended-regular-webfont.woff2") format("woff2");
  font-weight: normal;
}

/* Define @font-face for ultrabold font */
@font-face {
  font-family: "Monument Extended Ultrabold";
  src: url("./fonts/monumentextended-ultrabold-webfont.woff2") format("woff2");
  font-weight: bold; /* or use font-weight: 800; for numerical value */
}

html,
body {
  padding: 0;
  margin: 0;
  background: #0d0d0e;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.top {
  animation: top 1s forwards ease-in-out;
}

.left {
  animation: left 1s forwards ease-in-out;
}

.bottom {
  animation: bottom 1s forwards ease-in-out;
}

.right {
  animation: right 1s forwards ease-in-out;
}

.top-right {
  animation: topRight 1s forwards ease-in-out;
}

.top-left {
  animation: topLeft 1s forwards ease-in-out;
}

.bottom-left {
  animation: bottomLeft 1s forwards ease-in-out;
}

.bottom-right {
  animation: bottomRight 1s forwards ease-in-out;
}

@keyframes topLeft {
  0% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(8px, 8px);
  }
  40% {
    transform: translate(-6px, -6px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bottomLeft {
  0% {
    transform: translate(-2px, 2px);
  }
  20% {
    transform: translate(8px, -8px);
  }
  40% {
    transform: translate(-6px, 6px);
  }
  60% {
    transform: translate(4px, -4px);
  }
  80% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bottomRight {
  0% {
    transform: translate(2px, 2px);
  }
  20% {
    transform: translate(-8px, -8px);
  }
  40% {
    transform: translate(6px, 6px);
  }
  60% {
    transform: translate(-4px, -4px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes topRight {
  0% {
    transform: translate(2px, -2px);
  }
  20% {
    transform: translate(-8px, 8px);
  }
  40% {
    transform: translate(6px, -6px);
  }
  60% {
    transform: translate(-4px, 4px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes top {
  0% {
    transform: translate(0, -2px);
  }
  20% {
    transform: translate(0, 8px);
  }
  40% {
    transform: translate(0, -6px);
  }
  60% {
    transform: translate(0, 4px);
  }
  80% {
    transform: translate(0, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bottom {
  0% {
    transform: translate(0, 2px);
  }
  20% {
    transform: translate(0, -8px);
  }
  40% {
    transform: translate(0, 6px);
  }
  60% {
    transform: translate(0, -4px);
  }
  80% {
    transform: translate(0, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes left {
  0% {
    transform: translate(-2px, 0);
  }
  20% {
    transform: translate(8px, 0);
  }
  40% {
    transform: translate(-6px, 0);
  }
  60% {
    transform: translate(4px, 0);
  }
  80% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes right {
  0% {
    transform: translate(2px, 0);
  }
  20% {
    transform: translate(-8px, 0);
  }
  40% {
    transform: translate(6px, 0);
  }
  60% {
    transform: translate(-4px, 0);
  }
  80% {
    transform: translate(2px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
