.container {
  width: 100%;
}

.bannerImgContainer {
  position: relative;
  margin-bottom: 105px;
}

.image {
  width: 100%;
  height: auto;
  max-height: 742px;
  object-fit: cover;
}

.videoContainer {
  position: absolute;
  bottom: 26px;
  right: 33.43px;
  width: 342.569px;
  flex-shrink: 0;
  border-radius: 12px;
  height: auto;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  overflow: hidden;
}

.videoContainer video {
  width: 100%;
  height: auto;
  margin-bottom: -4px;
}

.expandIcon {
  width: 26.874px;
  height: 26.874px;
  flex-shrink: 0;
  position: absolute;
  top: 12.3px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .bannerImgContainer {
    margin-bottom: 84px;
  }
}

@media screen and (max-width: 768px) {
  .bannerImgContainer {
    margin-bottom: 56px;
  }

  .videoContainer {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .bannerImgContainer {
    margin-bottom: 41px;
  }
}
