.wrapper {
  margin-bottom: 148px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  color: #fff;
  font-family: Krona One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 287.5% */
}

.description {
  color: #7d8387;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.98px;
  /*  */
  margin-bottom: 59px;
}

.imageContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    padding: 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 16px;
    margin-bottom: 63.5px;
  }

  .imageContainer {
    grid-template-columns: auto;
  }
}
